@font-face {
	font-family: "Onest";
	font-style: normal;
	font-weight: 300;
	src: url("/fonts/onest/Onest-Light.woff2") format("woff2");
}

@font-face {
	font-family: "Onest";
	font-style: normal;
	font-weight: 400;
	src: url("/fonts/onest/Onest-Regular.woff2") format("woff2");
}

@font-face {
	font-family: "Onest";
	font-style: normal;
	font-weight: 500;
	src: url("/fonts/onest/Onest-Medium.woff2") format("woff2");
}

@font-face {
	font-family: "Onest";
	font-style: normal;
	font-weight: 700;
	src: url("/fonts/onest/Onest-Bold.woff2") format("woff2");
}

body {
	font-family: "Onest", sans-serif;
}
